.left_pane {
  border: 1px solid black;
}
.overview_board {
  border: 1px solid green;

  .header_panel {
    border: 1px solid yellow;
  }

  .dash_board {
    border: 1px solid brown;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .summaries {
    border: 1px solid coral;
    display: flex;
    column-gap: 1em;
  }
}
